<!-- Copyright 2021 Karlsruhe Institute of Technology
   -
   - Licensed under the Apache License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   -
   -     http://www.apache.org/licenses/LICENSE-2.0
   -
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License. -->

<template>
  <select v-model="value" class="custom-select" :disabled="choices.length === 0" @pointerdown.stop>
    <option v-for="choice in choices" :key="choice">{{ choice }}</option>
  </select>
</template>

<script>
import workflowControlMixn from 'scripts/components/mixins/workflow-control-mixin';

export default {
  mixins: [workflowControlMixn],
  props: {
    defaultValue: String,
  },
  data() {
    return {
      choices: () => [],
    };
  },
  methods: {
    resetChoices() {
      this.choices = [];
      this.value = null;
    },
    setChoices(choices) {
      this.choices = choices;
      this.value = this.choices[0];
    },
  },
};
</script>
