{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if resource.type %}
  <span class="badge badge-primary badge-mt-plus font-weight-normal float-right ml-3" title="{{ resource.type }}">
    {% if resource.__class__.__tablename__ == "record" %}
      {{ resource.type | truncate(20) }}
    {% else %}
      {{ resource.type | capitalize }}
    {% endif %}
  </span>
{% endif %}

<div class="d-flow-root">
    <small><!--
   --><i class="fa-solid d-inline
                {% if resource.visibility == 'public' %}fa-lock-open{% else %}fa-lock{% endif %}"></i><!--
 --></small><!--
 --><strong class="text-break ml-2">{{ resource.title }}</strong>
</div>
<small class="text-break">@{{ resource.identifier }}</small>
