{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="login">
  <strong>{% trans %}Login{% endtrans %}</strong>
</h4>
<p>
  {% trans %}
    There are various possible ways to log in to Kadi4Mat. Each Kadi4Mat instance may have one or more authentication
    providers registered, which are briefly described below.
  {% endtrans %}
</p>
<dl class="row">
  <dt class="col-xl-2">{% trans %}Credentials{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      This method of authentication uses separate accounts local to a specific Kadi4Mat instance. The credentials of
      each user consist of a unique username and a password. Depending on the configuration of an instance, registration
      of new accounts may be possible by individual users or only by system administrators.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">LDAP</dt>
  <dd class="col-xl-10">
    {% trans %}
      This method of authentication allows logging in using existing accounts managed by a specific LDAP (Lightweight
      Directory Access Protocol) installation. LDAP is a directory service commonly used for authenticating users and
      maintaining different kinds of information. Such a service can be deployed on different levels, e.g. for
      individual working groups or entire institutions.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">OpenID Connect</dt>
  <dd class="col-xl-10">
    {% trans %}
      This method of authentication allows logging in using existing accounts of one or more web-based, third-party
      services via the OpenID Connect authentication protocol. Each service has to be configured separately in Kadi4Mat
      by a system administrator. When authenticating with one of these services for the first time, users have to
      consent to Kadi4Mat accessing their user data.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">Shibboleth</dt>
  <dd class="col-xl-10">
    {% trans %}
      This method of authentication allows logging in using existing accounts of a user's home institution via the
      Shibboleth authentication protocol. Each institution needs to be configured separately in Kadi4Mat by a system
      administrator. Note that some institution's Identity Providers may not release all required user attributes to
      Kadi4Mat by default. In this case, the administrator of the Shibboleth Identity Provider may need to be contacted.
    {% endtrans %}
  </dd>
</dl>
