{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card bg-light mb-4">
  <div class="card-body py-2">
    <a href="{{ url_for('collections.view_collection', id=collection.id, tab=tab) }}">
      <i class="fas fa-angle-left mr-2"></i>
      <strong>{% trans %}Back to collection{% endtrans %}</strong>
    </a>
  </div>
</div>
