{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card mb-4">
  <div class="card-header py-2">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <strong>{% trans %}Template data{% endtrans %}</strong>
        <small class="text-muted">
          ({% trans %}The actual content of this template, depending on its type.{% endtrans %})
        </small>
      </span>
      <h5 class="mb-0 ml-3">
        <span class="badge badge-primary font-weight-normal">{{ template_type | capitalize }}</span>
      </h5>
    </div>
  </div>
  <div class="card-body">
    {% include "templates/snippets/{}_template_form.html".format(template_type) %}
  </div>
</div>
