{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<text-field :field="{{ form.record_title }}"></text-field>
<div class="row">
  <div class="col-lg">
    <identifier-field :field="{{ form.record_identifier }}"></identifier-field>
  </div>
  <div class="col-lg">
    <dynamic-select-field container-classes="select2-single-sm"
                          endpoint="{{ url_for('api.select_record_types') }}"
                          placeholder="{% trans %}Enter or search for a record type{% endtrans %}"
                          :field="{{ form.record_type }}"
                          :tags="true">
    </dynamic-select-field>
  </div>
</div>
<markdown-field :field="{{ form.record_description }}"
                link-endpoint="{{ url_for('api.select_files') }}"
                image-endpoint="{{ url_for('api.select_files', mimetype=const.IMAGE_MIMETYPES) }}">
</markdown-field>
<dynamic-select-field endpoint="{{ url_for('api.select_licenses') }}"
                      placeholder="{% trans %}Search for a license{% endtrans %}"
                      :field="{{ form.record_license }}">
</dynamic-select-field>
<dynamic-select-field endpoint="{{ url_for('api.select_tags') }}"
                      placeholder="{% trans %}Enter or search for tags{% endtrans %}"
                      :field="{{ form.record_tags }}"
                      :max-input-length="{{ form.record_tags.max_len }}"
                      :multiple="true"
                      :tags="true">
</dynamic-select-field>
<extras-field template-endpoint="{{ url_for('api.select_templates', type=['record', 'extras']) }}"
              {% if has_capabilities("term_search") %}
                terms-endpoint="{{ url_for('api.get_terms') }}"
              {% endif %}
              :field="{{ form.record_extras }}"
              :edit-extra-keys="kadi.context.edit_extra_keys"
              :is-template="true">
</extras-field>
<dynamic-select-field endpoint="{{ url_for('api.select_collections', action='link') }}"
                      placeholder="{% trans %}Search for collections{% endtrans %}"
                      :field="{{ form.record_collections }}"
                      :multiple="true">
</dynamic-select-field>
<record-links-field records-endpoint="{{ url_for('api.select_records', action='link') }}"
                    names-endpoint="{{ url_for('api.select_link_names') }}"
                    {% if has_capabilities("term_search") %}
                      terms-endpoint="{{ url_for('api.get_terms') }}"
                    {% endif %}
                    :field="{{ form.record_links }}">
</record-links-field>
<roles-field class="mb-0"
             users-endpoint="{{ url_for('api.select_users') }}"
             groups-endpoint="{{ url_for('api.select_groups') }}"
             :field="{{ form.record_roles }}">
  <roles-popover :small-layout="true" :roles="{{ get_object_roles('record') | tojson_escaped }}"></roles-popover>
</roles-field>
