{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "accounts/base.html" %}

{% block content %}
  <div class="input-group">
    <input id="filter-input"
           v-model="filter"
           class="form-control"
           placeholder="{% trans %}Filter by display name or username{% endtrans %}">
    <clear-button input-id="filter-input" :input="filter" @clear-input="filter = ''"></clear-button>
  </div>
  <br>
  <dynamic-pagination endpoint="{{ url_for('api.get_users') }}"
                      placeholder="{% trans %}No users.{% endtrans %}"
                      :args="{filter}"
                      :per-page="12">
    <template #default="paginationProps">
      <card-deck :items="paginationProps.items">
        <template #default="props">
          <div class="card-body">
            <a class="text-default stretched-link" :href="props.item._links.view">
              <img v-if="props.item._links.image"
                   class="img-max-75 img-thumbnail float-right ml-3"
                   loading="lazy"
                   :src="props.item._links.image">
              <div class="d-flow-root">
                <span class="h5 font-weight-bold elevated" :title="props.item.displayname">
                  {$ kadi.utils.truncate(props.item.displayname, 50) $}
                </span>
                <br>
                <div>@{$ props.item.identity.username $}</div>
                <small class="text-muted">
                  {% trans %}Account type{% endtrans %}: {$ props.item.identity.identity_name $}
                </small>
              </div>
            </a>
          </div>
          <div v-if="props.item.created_at" class="card-footer py-1">
            <small class="text-muted">
              {% trans %}Member since{% endtrans %} <from-now :timestamp="props.item.created_at"></from-now>
            </small>
          </div>
        </template>
      </card-deck>
    </template>
  </dynamic-pagination>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          filter: '',
        };
      },
    });
  </script>
{% endblock %}
