{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "settings/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("settings.manage_applications"), title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>
  <div class="card">
    {% include "settings/snippets/menu.html" %}

    <nav-tabs :tabs="['register', 'manage']">
      <template #register-head>
        {% trans %}Register application{% endtrans %}
      </template>
      <template #register-body>
        {% include "settings/snippets/applications_register.html" %}
      </template>
      <template #manage-head>
        {% trans %}Manage applications{% endtrans %}
      </template>
      <template #manage-body>
        {% include "settings/snippets/applications_manage.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        async revokeAccess(application) {
          const msg = $t('Are you sure you want to revoke access of this application?');
          const input = await this.$refs.dialog.open(msg);

          if (!input.status) {
            return;
          }

          this.$set(application, 'disabled', true);

          try {
            await axios.delete(application._actions.remove);

            this.$refs.pagination.update();
            kadi.base.flashSuccess($t('Access revoked successfully.'), {scrollTo: false});
          } catch (error) {
            kadi.base.flashDanger($t('Error revoking access.'), {request: error.request});
            application.disabled = false;
          }
        },
      },
    });
  </script>
{% endblock %}
