{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_file_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("records.edit_file_metadata", record_id=record.id, file_id=file.id),
             title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% snippet "records/snippets/back_to_record.html", record=record, file=file, tab="files" %}

  <div class="card">
    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}

        <text-field :field="{{ form.name }}"></text-field>
        <text-field :field="{{ form.mimetype }}"></text-field>
        <markdown-field :field="{{ form.description }}"
                        link-endpoint="{{ url_for('api.select_files', order_by_record=record.id) }}"
                        image-endpoint="{{ url_for('api.select_files', order_by_record=record.id,
                                                   mimetype=const.IMAGE_MIMETYPES) }}">
        </markdown-field>
        <div class="d-flex justify-content-between">
          <submit-field :field="{{ form.submit }}"></submit-field>
          <button type="button" class="btn btn-danger" @click="deleteFile">{% trans %}Delete file{% endtrans %}</button>
        </div>
      </submission-form>
      <form ref="delete"
            action="{{ url_for('records.delete_file', record_id=record.id, file_id=file.id) }}"
            method="post">
        {{ render_csrf() }}
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        async deleteFile() {
          const input = await this.$refs.dialog.open($t('Are you sure you want to delete this file?'));

          if (input.status) {
            this.$refs.delete.submit();
          }
        },
      },
    });
  </script>
{% endblock %}
