{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("collections.view_collection", id=collection.id),
             title=collection.title %}
  {% snippet "snippets/breadcrumb.html", url=url_for("collections.edit_collection", id=collection.id), title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% snippet "collections/snippets/back_to_collection.html", collection=collection, tab="overview" %}

  <submission-form>
    {{ render_csrf() }}

    {% snippet "snippets/resources/submit_edit.html",
               resource=collection,
               form=form,
               delete_text=_("Delete collection"),
               small=True %}

    {% include "collections/snippets/base_collection_form.html" %}

    <div class="card mb-4">
      <div class="card-header py-2">
        <strong>{% trans %}Additional settings{% endtrans %}</strong>
      </div>
      <div class="card-body">
        <dynamic-select-field class="mb-0"
                              endpoint="{{ url_for('api.select_templates', type='record') }}"
                              placeholder="{% trans %}Search for record templates{% endtrans %}"
                              :field="{{ form.record_template }}">
        </dynamic-select-field>
      </div>
    </div>

    {% snippet "snippets/resources/submit_edit.html",
               resource=collection,
               form=form,
               delete_text=_("Delete collection") %}
  </submission-form>
  <form ref="delete" action="{{ url_for('collections.delete_collection', id=collection.id) }}" method="post">
    {{ render_csrf() }}
  </form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          title: '',
          titleField: kadi.context.title_field,
        };
      },
      mounted() {
        this.title = this.titleField.data;
      },
      methods: {
        async deleteResource() {
          const msg = $t('Are you sure you want to move this collection to the trash?');
          const input = await this.$refs.dialog.open(msg);

          if (input.status) {
            this.$refs.delete.submit();
          }
        },
      },
    });
  </script>
{% endblock %}
