{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("collections.view_collection", id=collection.id),
             title=collection.title %}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("collections.export_collection", id=collection.id, export_type=export_type),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "collections/snippets/back_to_collection.html", collection=collection, tab="overview" %}

  <div class="card">
    <div class="card-body">
      {% if export_type == const.EXPORT_TYPE_RDF %}
        {% include "snippets/resources/export_rdf.html" %}
      {% elif export_type == const.EXPORT_TYPE_RO_CRATE %}
        {% include "snippets/resources/export_ro_crate.html" %}
      {% endif %}

      <resource-export resource-type="collection"
                       export-type="{{ export_type }}"
                       endpoint="{{ url_for('api.get_collection_export_internal', id=collection.id,
                                            export_type=export_type) }}">
      </resource-export>
    </div>
  </div>
{% endblock %}
