{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("collections.view_collection", id=collection.id),
             title=collection.title %}
{% endblock %}

{% block content %}
  {% if parents %}
    <div class="card bg-light mb-4">
      <div class="card-body py-2">
        <tooltip-item class="d-none d-sm-inline mr-2" title="{% trans %}Parent collections{% endtrans %}">
          <i class="fa-solid fa-sitemap"></i>
        </tooltip-item>
        {% for parent in reversed(parents) %}
          <div class="d-sm-inline">
            <a href="{{ url_for('collections.view_collection', id=parent.id) }}" title="{{ parent.title }}">
              {{ parent.title | truncate(50) }}
            </a>
            <i class="fa-solid fa-angle-right mx-2"></i>
          </div>
        {% endfor %}
        <span title="{{ collection.title }}">{{ collection.title | truncate(50) }}</span>
      </div>
    </div>
  {% endif %}

  <div class="card">
    <nav-tabs :tabs="['overview', 'links', 'permissions', 'revisions']" @change-tab="changeTab">
      <template #overview-head>
        <strong>{% trans %}Overview{% endtrans %}</strong>
      </template>
      <template #overview-body>
        {% include "collections/snippets/view_overview.html" %}
      </template>
      <template #links-head>
        <i class="fa-solid fa-link"></i> {% trans %}Links{% endtrans %}
      </template>
      <template #links-body>
        {% include "collections/snippets/view_links.html" %}
      </template>
      <template #permissions-head>
        <i class="fa-solid fa-shield-halved"></i> {% trans %}Permissions{% endtrans %}
      </template>
      <template #permissions-body>
        {% include "collections/snippets/view_permissions.html" %}
      </template>
      <template #revisions-head>
        <i class="fa-solid fa-clock-rotate-left"></i> {% trans %}Revisions{% endtrans %}
      </template>
      <template #revisions-body>
        {% include "collections/snippets/view_revisions.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_js("app/collections/view-collection.js") }}
{% endblock %}
