{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<p>
  {% trans a_open='<a href="{}" target="_blank" rel="noopener noreferrer"><strong>'.format(export_url) | safe,
           a_close="</strong></a>" | safe %}
    All data will be uploaded as a single ZIP archive corresponding to the exported {{ a_open }}RO-Crate data{{ a_close
    }} of this resource, which can be customized below. Note that uploads to Zenodo will not be published directly, i.e.
    they can be reviewed and adjusted via Zenodo before actually publishing them.
  {% endtrans %}
</p>
<p>{% trans %}The following Zenodo metadata will be populated automatically:{% endtrans %}</p>
<table class="table table-sm table-bordered">
  <tr>
    <td>Upload type</td>
    <td><em>Dataset</em></td>
  </tr>
  <tr>
    <td>Title</td>
    <td>{% trans %}The title of this resource.{% endtrans %}</td>
  </tr>
  <tr>
    <td>Authors</td>
    <td>{% trans %}Your current display name und ORCID iD, if available.{% endtrans %}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{% trans %}The description of this resource, which will be converted to HTML.{% endtrans %}</td>
  </tr>
  <tr>
    <td>License</td>
    <td>
      {% trans em_open="<em>" | safe, em_close="</em>" | safe %}
        The license of this resource, if applicable and supported by Zenodo, {{ em_open }}CC BY 4.0{{ em_close }}
        otherwise.
      {% endtrans %}
    </td>
  </tr>
  <tr>
    <td>Keywords</td>
    <td>{% trans %}The tags of this resource.{% endtrans %}</td>
  </tr>
</table>
